<div>
    <h1>Ajout d'une filiere</h1>

    <form #fil="ngForm">

        <div>
            <select #id="ngModel" name="id" [(ngModel)]="filiere.id">
                <option value="0">CREATION</option>
                <option *ngFor ="let filiere of filieres" value={{filiere.id}}> {{filiere.libelle}} {{filiere.id}}</option>
            </select>
        </div>

        <input #libelle="ngModel" required minlength="2" name="title" type="text" [(ngModel)]="filiere.libelle" />
        

        <!-- <input hidden #modules="ngModel" name="modules" type="text" [(ngModel)]="filiere.modules" /> -->

        <!-- <div>
            <app-model></app-model>
        </div> -->

        <button (click)="handleCreate()" [disabled]="fil.invalid">Enregistrement</button>

        <button (click)="handleDelete()">Delete</button>
    </form>

    

</div>
